*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* responsive desktop */
    
  /* macro principale */
    #wrapper{
        /* DEBUG */
        /* background-color: red; */
        
        display: flex;
        height: calc(100vh - 60px);   
    }

    /* navigazione principale */
    #wrapper nav{
        background-color: #000;
        
        height: 100%;
        width: 150px;
    }

    /* logo container */
    .logo{
        /* DEBUG */
        /* background-color: red; */
        
        height: 50px;
        width: 80%;
        display: flex;
    }

    /* Logo img */
    .logo img{
        max-width: 80%;
        margin-left: 10px;
    }
    
    /* regole immagini lista */
     nav ul img{
        width: 20px;
        opacity: 0.7;
    }

    /* regole lista */
    nav ul{
        color: #fff;
        font-size: 10px;
        margin-left: 10px;
        list-style: none;
        margin-top: 10px;
        line-height: 25px;
    }

    .green-border{
        border-left: #09a120 3px solid;
        margin-left: 0;
    }

    /* regole link lista */
    nav ul a{
        text-decoration: none;
        color: #d8d8d8;
        display: flex;
    }

    /* hover effect nav */
    nav ul a:hover{
        color: #fff;
    }

    nav img:hover{
        opacity: 1;
    }

    /* regole span lista */
    nav ul span{
        font-size: 10px;
        margin-left: 5px;
        font-weight: 300;
    }

    /* regole icone */
    .create i{
        padding: 8px;
        background-color: #fff;
        color: black;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    /* regole parte inferiore nav */
    .installa{
        display: flex;
        text-decoration: none;
        color: #fff;
        font-size: 10px ;
        align-items: center;
        margin-top: 110%;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .installa img{
        max-width: 15px;
        margin-right: 5px;
    }
   
    .profilo{
        margin-top: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-left: 5px;
    }

    .profilo img{
        max-width: 15px;
        background-color: gray;
        border-radius: 10px;
    }

    .profilo span{
        color: #fff;
        font-size: 10px;
        margin-left: 5px;
    }

    /* contenuto principale */
    #wrapper main{
        background-color: #23272F;
        
        overflow: auto;
        height: 100%;
        width: calc(100% - 150px);
    }

    .upgrade{
        background-color: #181821;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: sticky;
        top: 0;
    }

    .upgrade a{
        font-size: 10px;
        color: #fff;
        padding: 10px 30px;
        border: 1px #fff solid;
        border-radius: 40px;
        text-decoration: none;
    }

    .upgrade a:hover{
        font-size: 12px;
        color: #fff;
        padding: 12px 32px;
        border: 1px #fff solid;
        border-radius: 40px;
        text-decoration: none;
    }

    main ul a{
        text-decoration: none;
        color: gray;
        font-size:10px;
        margin-right: 20px;
    }

    main ul a:hover{
        color: #fff;
    }

    main ul{
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .green-border-category{
        border-bottom: 3px green solid;
    }

    main h2{
        color: #fff;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 15px;
    }

    .container-played{
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }

    .container-played a{
        text-decoration: none;
    }

    .container-played img{
        max-width: 130px;
    }

    .circle-play{
        display: none;
        color: #fff;
        font-size: 40px;
    }

    .circle-play:hover{
        display: block;
        color: #fff;
        font-size: 40px;
    }

    .container-played img:hover{
        opacity: 0.6;
        max-width: 130px;
    }
    
    .played{
        margin-right: 10px;
        text-align: center;
    }
    
    .played span{
        display: block;
        color: #fff;
        margin-top: 5px;
        font-weight: 700;
        font-size: 10px;
        width: 100px;
        text-align: center;
    }

    .played .subtitle{
        color: #787A80;
        font-weight: 400;
        font-size: 6px;
        margin-top: 5px;
    }
    
    main p{
        color: #787A80;
        font-size: 8px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .container-daily{
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }

    .container-daily a{
        text-decoration: none;
    }

    .container-daily img{
        max-width: 145px;
    }

    .container-daily img:hover{
        opacity: 0.6;
        max-width: 145px;
        background-image: url(.fa-circle-play);
    }
    
    .daily{
        margin-right: 10px;
        text-align: center;
    }
    
    .daily span{
        display: block;
        color: #fff;
        margin-top: 5px;
        font-weight: 700;
        font-size: 10px;
    }

    .container-Artist{
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }

    .container-Artist a{
        text-decoration: none;
    }

    .container-Artist img{
        max-width: 145px;
        border-radius: 100px;
    }
    
    .container-Artist img:hover{
        opacity: 0.6;
        max-width: 145px;
    }

    .Artist{
        margin-right: 10px;
        text-align: center;
    }
    
    .Artist span{
        display: block;
        color: #fff;
        margin-top: 5px;
        font-weight: 700;
        font-size: 10px;
    }

    /* controller player */
    #player{
        height: 60px;
        background-color: #181821;
        display: flex;
        justify-content: space-between;
    }

    .container-listen{
        /* background-color: red; */
        width: 25%;
        display:flex ;
        align-items: center;
    }

    .container-listen img{
        width: 40px;
        margin-left: 10px;
    }

    .container-listen .text{
        display: inline-block;
        font-size: 10px;
        text-align: center;
        margin-left: 10px;
    }

    .listen-title{
        color: #fff;
        font-weight: 700;
    }

    .listen-name{
        color: #fff;
    }

    .listen-icons .fa-heart{
        display:inline-block ;
        opacity: 0.5;
    }

    .listen-icons .fa-folder{
        display:inline-block ;
        opacity: 0.5;
    }

    .listen-icons .fa-heart:hover{
        display:inline-block ;
        opacity: 1;
    }

    .listen-icons .fa-folder:hover{
        display:inline-block ;
        opacity: 1;
    }

    .listen-icons a{
        display:inline-block ;
        margin-left: 10px;
        color: gray;
    }

    .container-controller{
        /* background-color: red; */
        width: 40%;
    }

    .controller{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .controller i{
        color: #fff;
        margin-right: 20px;
        font-size: 20px;
    }

    .controller .fa-circle-play{
        font-size: 25px;
    }

    .controller .fa-circle-play:hover{
        font-size: 30px;
    }

    .bar:hover{
        background-color: rgb(46, 118, 46);
        width: 100%;
        height: 4px;
        border-radius: 5px;
        margin-top: 10px;
        display: flex;
    }

    .bar{
        background-color: gray;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        margin-top: 10px;
        display: flex;
    }

    .bar-listened{
        background-color: #fff;
        display: flex;
        align-items: center;
        height: 4px;
        border-radius: 5px;
        width: 20%;
    }

    .bar-point{
        display: flex;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 999px;
        margin-left: 92%;
    }

    .time-listened{
        display: flex;
        color: #fff;
        align-items: flex-end;
        margin-bottom: 7px;
        font-size: 10px;
        font-weight: 700;
    }

    .time-song{
        display: flex;
        color: #fff;
        align-items: flex-end;
        margin-bottom: 7px;
        font-size: 10px;
        font-weight: 700;
    }

    .container-settings{
        /* background-color: blue; */
        width: 25%;
        display: flex;
        align-items: center;
    }

    .container-settings i{
        opacity: 0.6;
        color: #fff;
        margin-left: 40px;
    }

    .container-settings i:hover{
        opacity: 1;
        color: #fff;
        margin-left: 40px;
    }


    .volume-bar{
        background-color: gray;
        height: 4px;
        width: 30%;
        margin-left: 20px;
    }

    .volume-bar:hover{
        background-color: green;
        height: 4px;
        width: 30%;
        margin-left: 20px;
    }

    .volume-level{
        background-color: #fff;
        display: flex;
        align-items: center;
        height: 4px;
        border-radius: 5px;
        width: 40%;
    }

    .volume-point{
        display: flex;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 999px;
        margin-left: 77%;
    }

/* responsive mobile-small */
@media screen and (max-width: 480px){

    /* navigazione principale */
    #wrapper nav{
        width: 50px;
    }

    /* contenuto principale */
    #wrapper main{
        width: calc(100% - 50px);
    }

    nav ul span{
        display: none;
    }

    .create{
        display: none;
    }

    .title{
        display: none;
    }

    .installa{
        display: flex;
        text-decoration: none;
        color: #fff;
        font-size: 10px ;
        align-items: center;
        margin-top: 800%;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .installa span{
        display: none;
    }

    .profilo span{
        display: none;
    }

    .container-played{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .main ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
}

/* responsive mobile-small */
@media screen and (max-width: 950px){

    .container-played{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 10px;
    }

    
}

