*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* responsive desktop */
    
  /* macro principale */
    #wrapper{
        /* DEBUG */
        /* background-color: red; */
        
        display: flex;
        height: calc(100vh - 60px);   
    }

    /* navigazione principale */
    #wrapper nav{
        background-color: #000;
        
        height: 100%;
        width: 150px;
    }

    /* logo container */
    .logo{
        /* DEBUG */
        /* background-color: red; */
        
        height: 50px;
        width: 80%;
        display: flex;
    }

    /* Logo img */
    .logo img{
        max-width: 80%;
        margin-left: 10px;
    }
    
    /* regole immagini lista */
     nav ul img{
        width: 20px;
    }

    /* regole lista */
    nav ul{
        color: #fff;
        font-size: 10px;
        margin-left: 10px;
        list-style: none;
        margin-top: 10px;
        line-height: 25px;
    }

    /* regole link lista */
    nav ul a{
        text-decoration: none;
        color: #fff;
        display: flex;
    }

    /* regole span lista */
    nav ul span{
        font-size: 10px;
        margin-left: 5px;
        font-weight: 300;
    }

    /* regole icone */
    .create i{
        padding: 8px;
        background-color: #fff;
        color: black;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    /* regole parte inferiore nav */
    .installa{
        display: flex;
        text-decoration: none;
        color: #fff;
        font-size: 10px ;
        align-items: center;
        margin-top: 110%;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .installa img{
        max-width: 15px;
        margin-right: 5px;
    }
   
    .profilo{
        margin-top: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-left: 5px;
    }

    .profilo img{
        max-width: 15px;
        background-color: gray;
        border-radius: 10px;
    }

    .profilo span{
        color: #fff;
        font-size: 10px;
        margin-left: 5px;
    }

    /* contenuto principale */
    #wrapper main{
        background-color: #23272F;
        
        overflow: auto;
        height: 100%;
        width: calc(100% - 150px);
    }

    .upgrade{
        background-color: #181821;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: sticky;
        top: 0;
    }

    .upgrade a{
        font-size: 10px;
        color: #fff;
        padding: 10px 30px;
        border: 1px #fff solid;
        border-radius: 40px;
        text-decoration: none;
    }

    main ul a{
        text-decoration: none;
        color: #fff;
        font-size:10px;
        margin-right: 20px;
    }

    main ul{
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    main h2{
        color: #fff;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 15px;
    }

    .container-played{
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }

    .container-played a{
        text-decoration: none;
    }

    .container-played img{
        max-width: 130px;
    }
    
    .played{
        margin-right: 10px;
        text-align: center;
    }
    
    .played span{
        display: block;
        color: #fff;
        margin-top: 5px;
        font-weight: 700;
        font-size: 10px;
        width: 100px;
        text-align: center;
    }

    .played .subtitle{
        color: #787A80;
        font-weight: 400;
        font-size: 6px;
        margin-top: 5px;
    }
    
    main p{
        color: #787A80;
        font-size: 8px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .container-daily{
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }

    .container-daily a{
        text-decoration: none;
    }

    .container-daily img{
        max-width: 145px;
    }
    
    .daily{
        margin-right: 10px;
        text-align: center;
    }
    
    .daily span{
        display: block;
        color: #fff;
        margin-top: 5px;
        font-weight: 700;
        font-size: 10px;
    }

    .container-Artist{
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
    }

    .container-Artist a{
        text-decoration: none;
    }

    .container-Artist img{
        max-width: 145px;
        border-radius: 100px;
    }
    
    .Artist{
        margin-right: 10px;
        text-align: center;
    }
    
    .Artist span{
        display: block;
        color: #fff;
        margin-top: 5px;
        font-weight: 700;
        font-size: 10px;
    }

    /* controller player */
    #player{
        height: 60px;
        background-color: darkgray;
        display: flex;
        justify-content: space-between;
    }

    .container-listen{
        background-color: red;
        width: 25%;
        display:flex ;
        align-items: center;
        text-align: center;
    }

    .container-listen img{
        width: 40px;

    }

    .container-listen div{
        display: inline-block;
    }

    .container-navbar{
        background-color: red;
        width: 40%;
    }

    .container-settings{
        background-color: blue;
        width: 25%;

    }

    .container-settings img{
        width: 40px;
    }

    

/* responsive mobile-small */
@media screen and (max-width: 480px){

    /* navigazione principale */
    #wrapper nav{
        width: 50px;
    }

    /* contenuto principale */
    #wrapper main{
        width: calc(100% - 50px);
    }
}
